<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.wowoto.payment.mapper.PaymentMapper">

    <insert id="addPayment" parameterType="payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(actual_price, is_successful, begin_time, end_time, order_id, gmt_create, gmt_modified, is_deleted,gmt_create,gmt_modified,end_time)
        values (#{actualPrice}, #{isSuccessful}, now(), date_add(now(), interval 30 minute), #{orderId}, now(), now(), #{beDeleted})
    </insert>
    <update id="updatePayment" parameterType="payment">
        update payment
        set pay_sn=#{paySn}, gmt_modified=now()
        where id=#{id}
    </update>
    <select id="getPayment" parameterType="Integer" resultType="payment">
        select *
        from payment
        where id = #{id} and is_deleted = 0
    </select>

    <select id="getPaymentByPaySn" parameterType="String" resultType="payment">
        select *
        from payment
        where pay_sn = #{paySn} and is_deleted = 0
    </select>






    <update id="deletePayment" parameterType="Integer">
        update payment
        <trim prefix="set" suffixOverrides=",">
            <if test="true">gmt_modified=now(),</if>
            <if test="true">is_deleted=1,</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>